.details-show {
  height: 100%;
  backdrop-filter: blur(0.6px);
  .details__overview {
    transform: translateY(0);
  }
}

.no-shadow {
  box-shadow: none !important;
}

.details__table.show {
  transform: translateY(0);
}
