
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
          font-family: 'Averia Serif Libre', cursive; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  ///// MIN WIDTH RULES GOES IN ASCENDING ORDER //////
  @include responsive(1367px) {
    font-size: 70%
  }
  @include responsive(1600px) {
    font-size: 75%
  }
  @include responsive(1800px) {
    font-size: 93%
  }
  
  //////// MAX-WIDTH RULES -- IN DESCENDING ORDER ////////
  
 }
  
 
body {
    box-sizing: border-box;
    overflow: hidden;
  }
  
  a {
    text-decoration: none;
    color: currentColor;
  }
  
  li {
    list-style: none;
  }

  button {
    border: none;
    background-color: inherit;
    cursor: pointer;
      &:active,
      &:focus {
        border: none;
        outline: none;
      }
  }