
////////////
// COLORS
///////////
$color-white: white;

$color-dark-primary: #04050D;
$color-dark-secondary: #020e1f;

$color-bg-1: #00c6fb;
$color-bg-2: #0964f5;
$color-bg-3: #d5d7dd;
$bg-shadow: black;

$color-blue: #0b0b2cfd; 


///////////////////////
//// UTILITIES
///////////////////////
$border-primary: 1px solid rgba($color-white, .5);
$border-secondary: 1.7px solid rgba($color-white, .5);

$box-shadow-primary: -1px -1px 5px rgba($color-bg-3, .2),
7px 7px 6px 2px rgba($color-dark-primary, .3);

$box-shadow-secondary: -4px -4px 6px 2px rgba($color-bg-3, .3),
7px 7px 6px 2px rgba($color-dark-primary, .3);