
  
  ////////////////////////////
  /////////// JS RELATED ANIMATIONS /////////
  /////////////////////////////////

  //Animation related to the details section
  .details-show {
    height: 100%;
    backdrop-filter: blur(0.6px);
    .details__overview {
      visibility: visible;
      transform: translateY(0);
    }
  }
  
  .no-shadow {
    box-shadow: none !important;
  }
  
  .details__table.show { 
    visibility: visible;
    transform: translateY(0);      
  }  

//Animation related to the form validation
.validator__text.slide-up {
  opacity: 1;
  transform: translateY(0);
}