
*,
*::before,
*::after {  
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
          font-family: 'Averia Serif Libre', sans-serif; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  ///// MIN WIDTH RULES GOES IN ASCENDING ORDER //////
  @include responsive(1367px) {
    font-size: 70%
  }
  @include responsive(1600px) {
    font-size: 75%
  }
  @include responsive(1800px) {
    font-size: 93%
  }

  //////// MAX-WIDTH RULES -- IN DESCENDING ORDER ////////
  
  @include responsive(950px) {
    font-size: 60%
  }
  @include responsive(480px) {
    font-size: 55%
  }
  @include responsive(320px) {
    font-size: 52%
  }
  @include responsive(260px) {
    font-size: 50%
  }
  @include responsive(220px) {
    font-size: 48%
  }
 }
  
 
body {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: currentColor;
  }
  
  li {
    list-style: none;
  }

  button {
    border: none;
    background-color: inherit;
    cursor: pointer;
      &:active,
      &:focus {
        border: none;
        outline: none;
      }
  }