body {
  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    $color-bg-1 18%,
    rgba($color-bg-2, 0.8) 60%
  );
  background-size: cover;
  overflow-x: hidden;
  @include flex-center;
  letter-spacing: 0.2px;
  @include responsive(480px) {
    display: block;
  }
}

.bg-cover {
  background: transparent;
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 6;
}

.container {
  color: $color-bg-3;
  width: 77vw;
  height: 85%;
  border-radius: 23px;
  position: relative;
  z-index: 7;
  @include flex-center;
  justify-content: space-between;
  background: rgba($color-blue, 0.9);
  box-shadow: -10px -10px 25px -6px rgba($bg-shadow, 0.5),
    10px 10px 25px -1px rgba($bg-shadow, 0.5);
  overflow: hidden;
  @include responsive(900px) {
    min-height: 63rem; // THis is used to force the form to stay put, it moves when input is in focus.
    width: 87vw;
  }
  @include responsive(720px) {
    flex-direction: column-reverse;
    margin: 5.7% auto auto;
  }
  @include responsive(480px) {
    border-radius: 15px;
  }
  @include responsive(375px) {
    width: 93vw;
  }
  
}

.side {
  background: $color-bg-3;
  flex: 0 0 10%;
  align-self: stretch;
  padding: 0 1rem 3rem;
  color: rgba($color-blue, 0.8);
  @include flex-column;
  justify-content: space-around;
  position: relative;
  z-index: 10;
  @include responsive(720px) {
    flex-direction: row;
    height: 12%;
    padding-bottom: 0;
  }
  @include responsive(480px) {
    height: 0;
  }

  transform: translateX(-100%);
  @include responsive(480px) {
    transform: translateY(100%);
  }
  
  &__icon {
    @include flex-column;
    justify-content: space-between;
    margin-top: 2.5rem;
    @include responsive(480px) {
      margin-top: 0;
    }
  }
  &__icon-image {
    width: 6rem;
    margin-bottom: -0.17rem;
    @include responsive(720px) {
      margin-bottom: 2.5rem;
    }
    @include responsive(480px) {
      width: 5.3rem;
      margin-bottom: 0.1rem;
    }
  }
  &__text {
    font-family: "Nova Oval", cursive;
    font-size: 3rem;
    font-weight: lighter;
    @include responsive(720px) {
      display: none;
    }
  }
  .btn {
    position: relative;
    color: $color-dark-secondary;
    font-size: 1.8rem;
    color: inherit;

    @include responsive(480px) {
      display: none !important;
    }
  }
  .buttons img {
    display: none;
    @include responsive(480px) {
      width: 3.5rem;
      display: block;
      &:last-of-type {
        margin-left: 1.5rem;
      }
    }
  }
  .copyright {
    font-size: 1.15rem;
    color: rgba($color-blue, 0.73);
    padding: 0 0.3rem;
    text-align: center;
    margin-bottom: -3rem;
    line-height: 1.5;
    a {
      text-decoration: underline;
    }
    @include responsive(720px) {
      margin-bottom: -2.3rem;
      height: 100%;
      line-height: normal;
      text-align: justify;
    }
    @include responsive(375px) {
      margin-bottom: -3rem;
      font-size: 0.8rem;
    }
    @include responsive(375px) {
      font-size: 0.78rem;
    }
    @include responsive(260px) {
      display: none;
    }
  }
}

.main {
  flex: 0 0 90%;
  padding-left: 5.37rem;
  @include responsive(800px) {
    padding-left: 3.7rem;
  }
  @include responsive(720px) {
    position: relative;
    padding: 0;
  }
  .game {
    width: 60vw;
    @include responsive(1200px) {
      margin-left: -1rem;
      width: 90%;
    }
    @include responsive(1024px) {
      width: 87%;
    }
    @include responsive(768px) {
      width: 86%;
    }
    @include responsive(720px) {
      width: 94%;
      margin: 6% auto auto;
    }
    @include responsive(480px) {
      margin: 10% auto auto;
    }
    @include responsive(480px) {
      margin: 10% auto auto;
    }
    transform: translateX(150%);
    display: none;
  }

  .top {
    background: rgba(transparent, 0.1);
    height: 14.3rem;
    width: 100%;
    box-shadow: $box-shadow-primary;
    margin: 2rem 0 3rem;
    border-radius: 8px;
    @include responsive(1024px) {
      height: 17rem;
    }
    @include responsive(768px) {
      height: 18rem;
    }
    @include responsive(550px) {
      height: 17rem;
      margin: 4rem 0 3rem;
    }
    @include responsive(480px) {
      height: 20rem;
      margin: 2rem 0 3rem;
    }

    @include responsive(425px) {
      height: 20rem;
    }

    @include responsive(375px) {
      margin: 0 0 2.4rem;
    }

    @include responsive(260px) {
      height: 21rem;
      margin: 0 0 2.6rem;
    }
    &__status {
      border-bottom: $border-secondary;
      font-size: 1.8rem;
      font-weight: 400;
      padding: 1rem 1rem 0.5rem;
      @include flex-center;
      justify-content: space-between;
      @include responsive(480px) {
        padding: 1.5rem 1rem 1rem;
      }
    }
    &__status-text {
      @include responsive(320px) {
        font-size: 1.7rem;
      }
      @include responsive(300px) {
        font-size: 1.5rem;
      }

      @include responsive(260px) {
        font-size: 1.35rem;
      }
    }
    &__progress-bar {
      display: inline-block;
      border: $border-primary;
      border-radius: 5px;
      width: 19.5rem;
      height: 1.5rem;
      margin: 0.7rem 0 0.3rem 0.3rem;
      position: relative;
      overflow: hidden;
      @include responsive(425px) {
        width: 16rem;
      }
      @include responsive(300px) {
        width: 15rem;
      }
      &::before {
        content: "";
        position: absolute;
        background: linear-gradient(
          to right bottom,
          $color-bg-1 25%,
          rgba($color-bg-2, 0.8) 100%
        );
        top: 0;
        left: 0;
        width: 10%;
        height: 100%;
      }
    }
    &__score {
      margin-bottom: 1.1rem;
      transform: translateY(-0.7rem);
      font-size: 2.3rem;
      font-weight: bold;

      @include responsive(320px) {
        font-size: 2rem;
      }
      @include responsive(300px) {
        font-size: 1.7rem;
        transform: translateY(-0.94rem);
      }
      @include responsive(260px) {
        font-size: 1.5rem;
      }
      .score {
        display: inline-block;
        transform: translateY(1.1px);
      }
    }

    &__question {
      font-size: 1.4rem;
      padding: 0.8rem 1rem 0;
      text-align: center;
      line-height: 1.3;
      @include responsive(425px) {
        font-size: 1.35rem;
      }
      @include responsive(350px) {
        font-size: 1.3rem;
      }
    }

    &__question-text {
      font-weight: 400;
    }
  }

  .bottom {
    margin-top: 1.5rem;
    &__answer {
      background: rgba(transparent, 0.1);
      width: 100%;
      border-radius: 5px;
      height: 4.4rem;
      font-size: 1.65rem;
      box-shadow: $box-shadow-primary;

      overflow-x: hidden;
      @include flex-center;
      justify-content: flex-start;
      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }
      @include responsive(1024px) {
        height: 4.9rem;
        &:not(:last-of-type) {
          margin-bottom: 1.3rem;
        }
      }
      @include responsive(768px) {
        height: 5.1rem;
      }
      cursor: pointer;
      transition: 0.2s ease;
      @include responsive(hover) {
        color: white;
        background: #24e564e5;
      }
      &:active {
        transform: translateY(1.5px) scale(0.991);
      }
    }
    &__letter {
      display: inline-block;
      font-size: 2rem;
      padding-top: 0.9rem;
      align-self: stretch;
      flex: 0 0 6%;
      text-align: center;
      color: $color-bg-3;
      background-image: linear-gradient(
        to right bottom,
        $color-bg-1 18%,
        rgba($color-bg-2, 0.8) 60%
      );
      @include responsive(1200px) {
        flex: 0 0 8%;
        font-size: 2.3rem;
      }
      @include responsive(768px) {
        flex: 0 0 9.5%;
      }
      @include responsive(425px) {
        flex: 0 0 12%;
        padding-top: 1.1rem;
      }
      @include responsive(375px) {
        flex: 0 0 13%;
      }
    }
    &__text {
      font-weight: 300;
      margin-left: 1rem;
    }
  }

  .foot {
    &__btn {
      @include btn-submit-set;
      color: inherit;
      font-size: 1.9rem;
      margin: 0 0 22vw;
      @include responsive(1024px) {
        margin: 2rem 0 1.5rem 33%;
      }
      @include responsive(720px) {
        margin: 2rem 0 1.5rem 34.5%;
      }
      @include responsive(600px) {
        margin: 2rem 0 1.5rem 32%;
      }
      @include responsive(480px) {
        margin: 2rem 0 1.5rem 26%;
        font-size: 2.2rem;
        padding: 0.8rem 2.5rem;
      }
      @include responsive(425px) {
        margin: 2rem 0 1.5rem 25%;
      }

      @include responsive(375px) {
        margin: 1.45rem 0 1.5rem 22.5%;
      }

      @include responsive(300px) {
        margin: 2rem 0 1.5rem 20%;
      }

      @include responsive(260px) {
        margin: 2rem 0 1.5rem 15%;
      }
    }
  }

  .details {
    color: $color-bg-3;
    position: absolute;
    top: 0;
    left: 2%;
    width: 100%;
    z-index: 1;
    @include responsive(720px) {
      top: unset;
        left: 0;
        bottom: 0;
    }
  
    // @include flex-column; experiment stage
   &__overview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
      width: 100%;
      font-size: 2.7rem;
      background-color: rgba($color-blue, 0.94);
      box-shadow: $box-shadow-primary;
      padding: 1.5rem 0 1.5rem 6rem;
      @include flex-center;
      justify-content: space-around;
      transform: translateY(-100%);
      transition: transform .4s;
      @include responsive(1024px){
        padding: 1.5rem 0 1.5rem 8.5rem;
      }
      
      @include responsive(720px) {
        top: unset;
        bottom: 0;
        padding: 1.5rem 0 1.5rem 0;
        transform: unset;
        transform: translateY(300%);
      }
     
      @include responsive(480px){
        justify-content: space-evenly;
       font-size: 2.2rem;
        }
        @include responsive(400px){
         font-size: 1.7rem;
          }
          @include responsive(300px){
            font-size: 1.5rem;
              font-weight: bolder;
             }
             @include responsive(250px){
              font-size: 1.25rem;
               }
        
      button {
        font-size: 2.7rem;
        color: inherit;
        @include responsive(480px){
          font-size: 2.2rem;
           }
           @include responsive(400px){
            font-size: 1.7rem;
             }
             @include responsive(300px){
              font-size: 1.5rem;
              font-weight: bolder;
               }
               @include responsive(250px){
                font-size: 1.25rem;
                 }
      }
    }
    &__table {
      position: absolute;
      top: 6.26rem;
      left: 0;
      font-size: 2.5rem;
      width: 100%;
      text-align: center;
      background-color: rgba($color-blue, 0.94);
      color: inherit;
      box-shadow: $box-shadow-primary;
      padding: 1rem 8rem;
      transform: translateY(-130%);
      transition: transform .6s ;
      
      @include responsive(1400px) {
top: 6.15rem;
       }
       @include responsive(950px) {
        top: 6.21rem;
               }
      @include responsive(720px) {
       top: unset;
       bottom: 6.1rem;
       padding: 1rem 4rem;
       transform: unset;
       transform: translateY(200%);
      }
      @include responsive(480px) {
        padding: 1rem 0;
        bottom: 5.5rem;
       }
      @include responsive(400px) {
        bottom: 4.8rem;
       }
       @include responsive(300px) {
        font-size: 2rem;
        bottom: 4.7rem;
       }
       @include responsive(250px) {
        bottom: 4.2rem;
       }
          
      th {
        font-size: 3rem;
        padding: 0.5rem;
        @include responsive(300px) {
          font-size: 2.5rem;
         }
      }
      td {
        padding: 0.3rem;
        @include responsive(720px){
          padding: .5rem;
        }
      }
    }
  }

  .form {
    @include flex-column;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 1.6rem;
    width: 60vw !important;
    height: 73vh;
    overflow-x: hidden;
    background: linear-gradient(
        108deg,
        $color-bg-3 0%,
        $color-bg-3 57%,
        rgba($color-blue, 0.5) 57%
      ),
      url(../../images/female-quizllo.jpg) no-repeat fixed;
    background-size: 100.1%, 65%;
    background-position: center, 85%;
    color: $color-dark-secondary;
    text-align: left;
    letter-spacing: -0.5px;
    width: 32vw;
    box-shadow: $box-shadow-secondary;
    border-radius: 8px;
    padding: 0 2rem .6rem;
    @include responsive(1400px) {
      background-size: 100.1%, 70%;
      background-position: center, 93%;
    }
    @include responsive(1600px) {
      background-size: 100.1%, 61%;
      background-position: center, 85%;
    }

    @include responsive(1280px) {
      width: 91% !important;
      background-size: 100.1%, 80%;
      background-position: center, 120%;
    }
    @include responsive(1200px) {
      padding-top: .5rem;
      width: 89% !important;
      background-size: 100.1%, 90.2%;
      background-position: center, 173%;
    }
    @include responsive(1024px) {
      width: 87% !important;
    }
    @include responsive(900px) {
      background-size: 100.1%, 97%;
      background-position: center, 610%;
    }
    @include responsive(800px) {
      height: 77vh;
      background: linear-gradient(
          to right,
          $color-bg-3 0%,
          $color-bg-3 57%,
          rgba($color-blue, 0.5) 57%
        ),
        url(../../images/female-quizllo.jpg) no-repeat fixed;
      background-size: 100.1%, 110%;
      background-position: center, -120%;
      width: 88% !important;
    }
    @include responsive(768px) {
      background-size: 100.1%, 125.5%;
      background-position: center, -20%;
      width: 86% !important;
    }
    @include responsive(720px) {
      height: 91%;
      width: 85% !important;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin: 5.5% auto auto;
      background-size: 100.18%, 136.5%;
      background-position: center, 24%;
    }
    @include responsive(650px) {
      background: $color-bg-3;
      box-shadow: -4px -4px 6px 2px rgba($color-bg-3, 0.2),
        4px 4px 6px 2px rgba($color-bg-3, 0.2);
    }
    @include responsive(550px) {
      margin: 6.5% auto auto;
    }
    transform: translateX(200%);
    span {
      display: inline-block;
    }
    &__hello {
      font-size: 2.7rem;
    }
    &__welcome {
      width: 57%;
      @include responsive(650px) {
        width: unset;
      }
    }
    &__welcome-2 {
      font-size: 2rem;
      margin: 0.7rem 0 -0.4rem;
    }
    &__welcome-3 {
      font-size: 1.5rem;
      line-height: 1.8rem;
      @include responsive(250px) {
        font-size: 1.5rem;
      }
      @include responsive(220px) {
        font-size: 1.4rem;
      }
    }
    &__welcome-fill {
      margin: 0.5rem 0 0.2rem;
      line-height: 1.8rem;
      @include responsive(250px) {
        font-size: 1.5rem;
      }
      @include responsive(220px) {
        font-size: 1.4rem;
      }
    }
    &__inputs {
      @include flex-column;
      align-items: flex-start;
      width: 45%;
      height: 60%;
      justify-content: space-around;
      @include responsive(1024px) {
        width: 44%;
      }
      @include responsive(800px) {
        width: 50%;
      }
      @include responsive(650px) {
        width: 95%;
      }
      @include responsive(650px) {
        width: 96%;
      }
     div {
      width: 100%;
     }
     label {
       display: block;
      font-size: 1.2rem;
      margin-bottom: 0.3rem;
    }
    input {
      padding-left: 0.5rem;
    }
    input,
    select {
      font-size: 1.4rem;
      width: 100%;
      height: 2.5rem;
      background-color: $color-bg-3;
      border: 1px solid transparent;
      box-shadow: -2px -2px 4px -1px darken($color-bg-3, 10),
        2px 4px 6px -1px darken($color-bg-3, 10);
      border-radius: 5px;
      outline: none;
      transition: transform 0.3s, 0.2s;
      
      &:active,
      &:focus {
        border: 1px solid $color-blue;
        outline: none;
        background: rgba($color-blue, 0.87);
        color: $color-bg-3;
        transform: scale(0.986);
      }
    }
    ///// will be removed when message api works.
    #mobile::placeholder {
      font-size: 1.2rem;
      @include responsive(350px) {
        font-size: 1rem;
      }
      @include responsive(250px) {
        font-size: .8rem;
      }
    }
    }
    &__category-and-years {
      @include flex-center;
      justify-content: space-between;
      #year {
        width: 87%;
        margin-right: auto;
      }
    }
    
    
    

  
    &__btn {
      @include btn-submit-set;
      color: $color-bg-3;
      font-size: 1.8rem;
      align-self: flex-start;
      margin-top: 0.8rem;
      padding: 0.5rem 1.9rem;
    }
  }
}

