
////////////
// COLORS
///////////
$color-white: white;

$color-dark-primary: rgb(4, 5, 13);
$color-dark-secondary: rgb(2, 14, 31);

$color-bg-1: rgb(0, 198, 251);
$color-bg-2: rgb(9, 100, 245);
$color-bg-3: rgb(213, 215, 221);
$bg-shadow: black;

$color-blue: rgb(12, 13, 44);

// $color-blue: #0b0b2cfd;




///////////////////////
//// UTILITIES
///////////////////////
$border-primary: 1px solid rgba($color-white, .5);
$border-secondary: 1.7px solid rgba($color-white, .5);

$box-shadow-primary: -1px -1px 5px rgba($color-bg-3, .2),
7px 7px 6px 2px rgba($color-dark-primary, .3);

$box-shadow-secondary: -4px -4px 6px 2px rgba($color-bg-3, .3),
7px 7px 6px 2px rgba($color-dark-primary, .3);